<md-dialog aria-label="Mango (Fruit)"> 
	<md-content class="md-padding"> 
		<form id="projForm" name="projectForm"> 

			<span id="icon_type">
				<ng-md-icon class="add_i" icon="my_library_add" size="50" ng-show="!proyecto._id"></ng-md-icon>
				<ng-md-icon class="edit_i" icon="edit" size="50" ng-show="proyecto._id"></ng-md-icon>
			</span>

			<h2>{{proyecto.titulo || "Nuevo Proyecto"}}</h2>
			
			<div layout layout-lg="column">  
				<md-input-container flex> 
					<label>Nombre del proyecto</label> 
					<input ng-model="proyecto.titulo" ng-required="true"> 
				</md-input-container> 
			</div>

			<md-input-container flex>
				<label>Descripcion</label> 
				<textarea ng-model="proyecto.descripcion" columns="1" md-maxlength="150"></textarea> 
			</md-input-container> 
		</form> 
	</md-content> 

	<div class="md-actions" layout="row"> 
		<span flex></span> 
		<md-button ng-click="cancel()"> Cancelar </md-button> 
		<md-button ng-click="answer('proyecto')" class="md-primary"> Guardar </md-button> 
	</div>
</md-dialog>